/*共通*/
@font-face {
	font-family: 'Myfont';
	src: url(PTS55E.ttf);
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-family: 'Myfont';
  color: rgb(100, 100, 100);
}
a {
  text-decoration: none;
}

/*header*/
/*nav*/
nav {
  z-index: 2;
  position: fixed;
	top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 -1px 5px;
	background-color: rgba(255, 255, 255, 0.9);
}
.btn-wrap {
}
.btn {
  width: 60px;
  height: 60px;
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.btn i {
  color: white;
}
.gnav {
  width: 100%;
	margin: auto;

}
.gnav ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}
.gnav li {
  flex-grow: 1;
  list-style: none;
  text-align: center;

}
.gnav a {
  color: black;
  font-weight: bold;
}
.gnav li :hover {
  filter: drop-shadow(1px 1px 1px black);
  transition: filter 0.2s;
}
/*main*/
main {
  height: 100%;
  padding-top: 0px;
  box-sizing: border-box;
}
/*title*/
.title {
	position: relative;
  height: 100%;
	width: 100%;
  font-size: 20px;
}
.title h1 {
  margin: 0;
  padding-top: 100px;
	background-image: url("D:\app-html\portfolio\image\desk-1140699_1920.jpg");
}
.ar-down {
	position: absolute;
  left: 50%;
	margin-left: -35px;
	bottom: 50px;
}
.ar-down i {
  font-size: 70px;
  color: rgb(100, 100, 100);
}

/*section*/
article {

}
article h2 {
  background-color: rgb(255, 255, 255);
	text-align: center;

}
article p {
  margin: 0 5%;
  text-align: center;
}
.profile h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.prof-icon {
	width: 100px;
	margin: 40px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}
.prof-p {
	text-align: center;
	width: 100%;
}
.profile p {
  margin: 0 30px;
  padding: 40px;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(100, 100, 100);
}
.work {
  height: 500px;
}
.skill-content {
  display: flex;
  flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
}
.skill-content div {
  list-style: none;
  flex-grow: 1;
	font-size: 20px;
  box-sizing: border-box;
  margin: 20px;
	min-width: 200px;
	width: auto;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(100, 100, 100);
}

h3 {
	font-size: 30px;
	padding-left: 10px;
}
.icon {
  height: 100px;
}
.contact a{
	text-alighn: center;
	fontsize: 30px;
}
/*footer*/
footer {
	position: fixed;
	bottom: 0;
	z-index: 0;
  width: 100%;
	background-color: rgba(100, 100, 100, 0.4);

}
.copyright {
  width: 100%;
  text-align: center;
  color: white;
}
.copyright p {
	margin: 0;
}
